python-dotenv
jupyterlab

# Langchain
langchain-chroma
langchain-core
langchain-openai >= 0.3
langchain-ollama
langchain-community
langgraph

# Tools
wikipedia
matplotlib
beautifulsoup4

# CrewAI
crewai
crewai-tools

# Others
setuptools
colorama
